/* --------------- GENERAL SETTINGS --------------- */

html {
    scroll-behavior: smooth;
  }

:root {
    --timeline: #cecccc;
    --bullet-size: 9px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before, 
*::after  {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

body, a, li  {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: rgb(32, 32, 32);
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}


/* --------------- HEADLINES, PARAGRAPHS, LINKS --------------- */


h1 {
    font-family: 'Assistant', sans-serif;
    font-size: 56px;
    margin-bottom: 1.9vh;
}

h2 {
    font-family: 'Assistant', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

h3 {
    margin-bottom: 3vh;
}

h5 {
    font-family: 'Assistant', sans-serif;
    font-size: 12.5px;
    margin-bottom: 1.4vh;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: rgb(78, 78, 78);
}

h6 {
    font-size: 12px;
    font-weight: 400;
}

a:hover,
a:hover h5,
a:hover p {
    font-weight: bolder;
}

a:hover h5,
a:hover p {
    color: rgb(78, 78, 78);
}

/* --------------- REST OF PAGE --------------- */

.container-all {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
/*     min-width: calc(100vw + 254px);
    max-width: calc(100vw + 254px); */
}

#darken-background-fullwidth {
    display: none;
    position: fixed;
    top: 0;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

#hidden-elements-container {
    display: none;
}

/* --------------- HEADER --------------- */


header {
    position: absolute;
    top: 5vh;
    left: 3.2vw;
    display: grid;
    grid-template: auto / minmax(90px, 7.7vw);
    row-gap: 3.4vh;
    z-index: 10;
}

nav ul li a {
    font-family: 'Assistant', sans-serif;
    display: block;
    font-size: 14px;
    height: 29.5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.selected {
    font-weight: bolder;
    color: rgb(78, 78, 78);
}


/* --------------- MAIN --------------- */

main {
    flex: 1 7 1000px;
}
 
#main-home-container {
    display: grid;
    height: 100vh;
    background-image: url("../img/white_wall.png");
    place-items: center;
    padding: 10vw;
}

#main-home-container > div {
    position: relative;
    top: -6vh;
    right: -3vw;
    max-width: 510px;
    margin-right: 30px;
}

#main-home-container > div {
    position: relative;
    max-width: 510px;
}

#main-home-container p {
    line-height: 19.5px;
    font-weight: 300;
}


/* --------------- BTN SCROLL DOWN --------------- */

#btn-scroll-down {
    color: white;
    position: fixed;
    display: grid;
    place-content: center;
    bottom: 4vh;
    left: 2.5vw;
    width: 60px;
    height: 60px;
    font-size: 42px;
    /* background-image: linear-gradient(-30deg, #623AA2, #F97794); */
    background-color: rgb(140, 173, 153);
    border-radius: 50%;
    animation-name: bouncing-arrow;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
    transition: background-image 300ms;
    z-index: 1;
}

#btn-scroll-down > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(-30deg, #623AA2, #F97794);
    opacity: 1;
    transition: opacity 400ms;
    z-index: 2;

}

.bi-arrow-down-short {
    position: relative;
    z-index: 3;
}

@keyframes bouncing-arrow {
    0%   
    {bottom: 4vh;}
    50%
    {bottom: 4.4vh;}
    100% {bottom: 4vh;}
  }

  .scrolled-down #btn-scroll-down > div {
      opacity: 0;
      transition: opacity 400ms;
  }

  .scrolled-down #btn-scroll-down .bi-arrow-down-short::before {
    content: "\f145";
}


  /* --------------- SIDEBAR --------------- */

#white-div {
    flex: 0 3 254px;
    transition: flex 350ms linear;
}

aside {
    position: fixed;
    top: 0;
    right: auto;
    padding: 3.4vh calc(20px + 1vw);
    justify-self: flex-end;
    opacity: 1;
    transition: flex 350ms linear, padding 350ms linear, opacity 100ms linear 320ms;
    background-color: violet;
}

.menystangd #white-div {
    flex: 0 0 10px;
    transition: flex 350ms linear;
}

.menystangd aside {
    right: -500px;
    padding: 0;
    opacity: 0;
    -ms-transform-origin-x: ;
    transition: flex 400ms linear, padding 400ms linear, opacity 150ms linear;

}



#sidebar-container {
    display: flex;
    position: sticky;
    top: 3.4vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 92.5vh;
}

#close-cv-btn {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: rgb(153, 153, 153);
    font-weight: 300;
    font-size: 11.5px;
    cursor: pointer;
}

#close-cv-btn .bi {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: rgb(197, 197, 197);
    font-style: normal;
}

#headline-merits {
    /* display: none; */
    position: absolute;
    top: 41px;
    right: -35px;
    background-color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: rgb(153, 153, 153);
    font-weight: 300;
    font-size: 11.5px;
    transform: rotate(90deg);
}

#container-merits {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -3vh;
    border-left: 2px solid var(--timeline);
    row-gap: 8.7vh;
    padding: 6vh 0;
}

#container-merits > div {
    position: relative;
    display: flex;
    left: -5.5px;
    column-gap: calc(15px + 1.2vw);
    cursor: pointer;
}


.merits-mouseover h5,
.merits-mouseover p {
    font-weight: bolder;
    color: rgb(78, 78, 78);
}

.bullet {
    position: relative;
    top: 3px;
    background-color: white;
    border-radius: 50%;
    height: var(--bullet-size);
    flex: 0 0 var(--bullet-size);
    border: 2.5px solid var(--timeline);
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    transition-property: border, transform;
}

.merits-mouseover .bullet {
    border: 1px solid var(--timeline);
    transform: scale(2.8 );
}

.plus {
    position: absolute;
    font-size: 24px;
    font-weight: 100;    
    top: -9px;
    left: -3px;
    color: white;
    transform: scale(0);
    transition-duration: 350ms;
}

.merits-mouseover .plus {
    transform: scale(1);
    color: rgb(68, 68, 68);
}

aside p {
    font-size: 11px;
    color: rgb(85, 85, 85);
    font-weight: 200;
    line-height: 15px;
}

#sidebar-container > p {
    font-size: 10.8px;
    text-align: center;
    color: grey;
}

.merits-popup-container {
    position: relative;
    background-color: white;
    width: 40vw;
    padding: 10vh 5vw;
    top: -4vh;
}

/* --------------- PORTFOLIO --------------- */


#main-portfolio {
    /* background-color: rgb(178, 209, 178); */
    background-color: rgb(185, 212, 185);
    min-height: 100vh;
}

.portfolio-objects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 13vh 10.5vw;
    row-gap: 5.5vh;
    min-height: 100vh;
}

.square-img-container {
    width: 22%;
}

.square-img-container > div {
    position: relative;
    padding-top: 72%;
}

.square-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 7px solid rgb(250, 250, 250);
}


