/* --------------- GENERAL SETTINGS --------------- */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, a, li  {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: rgb(32, 32, 32);
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

/* [class*="test"] {

} */

/* --------------- HEADLINES, PARAGRAPHS, LINKS --------------- */


h1 {
    font-family: 'Assistant', sans-serif;
    font-size: 56px;
    margin-bottom: 1.9vh;
}

h5 {
    font-family: 'Assistant', sans-serif;
    font-size: 12.5px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: rgb(78, 78, 78);
}

h6 {
    font-size: 12px;
    font-weight: 400;
}

p {
    line-height: 1.4em;
    font-weight: 300;
}

/* hr {
    width: 22%;
    border-top: 9px solid black;
} */

a:hover,
a:hover h5,
a:hover p {
    font-weight: bolder;
}

a:hover h5,
a:hover p {
    color: rgb(78, 78, 78);
}

/* --------------- REST OF PAGE --------------- */


.container-all {
    display: grid;
    grid-template: 100vh minmax(100vh, auto) / minmax(300px, auto) minmax(180px, 16.5vw);
    grid-template-areas: 
    "main-home sidebar"
    "main-portfolio sidebar"; 
    z-index: -2;
}


/* --------------- HEADER --------------- */


header {
    position: fixed;
    top: 5vh;
    left: 3.2vw;
    display: grid;
    grid-template: auto / minmax(90px, 7.7vw);
    row-gap: 3.4vh;
}

nav ul li a {
    font-family: 'Assistant', sans-serif;
    display: block;
    font-size: 14px;
    height: 29.5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* --------------- MAIN --------------- */


.main-home {
    display: grid;
    place-content: center;
    background-color: red;
    background-image: url("../img/white_wall.png");
    padding: 35px;
}


.main-home > div {
    max-width: 510px;
    top: -3vh;

}
.main-home * {
    position: relative;
    
}

.main-home > div > .color-box {
    background-color: rgba(255, 155, 142, 0.5);
    position: absolute;
    top: -75px;
    bottom: 0;
    left: 58%;
    right: -11%;
}

/* .contact-btn {
    display: inline-grid;
    place-content: center;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 2.3vh;
    border-right: 1.7px solid black;
    border-left: 1.7px solid black;
    padding: 0 0.8em;
} */

.contact-btn {
    display: inline-block;
    place-content: center;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 2.1vh;
}

.bi-arrow-right-short  {
    position: relative;
    top: 3px;
    font-size: 22px;
}

/* --------------- BTN SCROLL DOWN --------------- */

#btn-scroll-down {
    position: absolute;
    display: grid;
    place-content: center;
    bottom: 4vh;
    left: 2.5vw;
    width: 60px;
    height: 60px;
    font-size: 23px;
    color: white;
    font-weight: 300;
    background-image: linear-gradient(-30deg, #623AA2, #F97794);
    background-color: rgb(91, 194, 189);
    border-radius: 50%;
    animation-name: bouncing-arrow;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
}

@keyframes bouncing-arrow {
    0%   
    {bottom: 4vh;}
    50%
    {bottom: 4.5vh;}
    100% {bottom: 4vh;}
  }


  /* --------------- SIDEBAR --------------- */


aside {
    /* background-color: yellow; */
    grid-area: sidebar;
    padding: 3.4vh 2.2vw 3.4vh 2.4vw;
}

#sidebar-container {
    position: sticky;
    top: 3.4vh;
    display: grid;
    grid-template: 15vh 62.5vh 15vh / auto;
    /* background-color: royalblue; */
    max-height: 100vh;
    justify-items: end;
}

#container-merits {
    /* background-color: rgb(231, 231, 231); */
    border-left: 1px solid black;
    display: grid;
    grid-template: repeat(3, 1fr) / 8px auto;
    column-gap: 35px;
    padding: 5vh 0 5vh 0;
}

.bullet {
    position: relative;
    left: -4.5px;
    top: 4px;
    background-color: black;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

#sidebar-container > a {
    position: absolute;
    bottom: 0;
}


/* --------------- PORTFOLIO --------------- */


.main-portfolio {
    background-color: green;
    grid-area: main-portfolio;
}

.bi-alarm {
    color: blueviolet;
    font-size: 28px;
}